## Ignore everything
*

## But not these files and folders
!.gitignore
!setup.sh
!setup_datasets.sh
!Makefile
!README.md
!.github/
!.github/workflows/
!.github/workflows/**
!src/
!/src/**
!include/
!/include/**
!tests/
!tests/**
!/python_scripts/**
!/python_scripts/
!/logs/**
!/logs/